ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(26, 29, 192);
    height: 55px;
    font-size: 20px;

}

.nav-item {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover {
    color: rgb(151, 152, 189);;
}
.signing-nav-item{
    float: right;
}
