
<div class="login">
    <div class="login-header">
      <h1>Join our family</h1>
    </div>
    <div class="login-form">
      <h4>First name <span>*</span>: </h4>
      <input type="text" #fName placeholder="firstname"/><br>
      <h4>Last name <span>*</span>: </h4>
      <input type="text" #lName placeholder="lastname"/><br>
      <h4>Email <span>*</span>: </h4>
      <input type="text" #email placeholder="aaa@aaa.aaa"/><br>
      <h4>Pone number <span>*</span>: </h4>
      <input type="text" #pNumber placeholder="+216 ********"/><br>
      <h4>Password <span>*</span>:</h4>
      <input type="password" #pwd placeholder="Password" required/>
      <br>
      <input type="button" value="Login" (click)="onSignup(fName.value,lName.value, email.value, pNumber.value, pwd.value)" class="login-button" required/>
      <br>
      <h6 class="no-access">Already have an account ? <a href="">login</a></h6>
    </div>
  </div>