<body>

    <div class="color"> 
      <div class="image"> 
        <img src="./assets/images/home_page_main_image.png" alt="Not Found" width="800" >
        <div class="overlay"><p> If you're going to do it, do it safely!ng<p></div>
      </div>
    </div>
  
    
  
      <div class="white">
  
      <h2>About Doit</h2>
      <p>
        &nbsp;&nbsp; Doit is a ToDo app that helps you organize your time and master the art of planning. Our app is simple to use, beautiful to see and more importantly secure to trust.
      </p>
      
      
      <h2>Why Join Us?</h2>
      <img class="safe" src="./assets/images/Your_plans_are_safe_with_us.png" alt="Your plans are safe with us" width="300" >
      <p>
         &nbsp;&nbsp; Our daily planning can be as private as the most private aspect of our lives so we cannot ignore the risks of it being exposed to either service providers or potential hackers.
  
       <br> <br>&nbsp;&nbsp; On the other hand, cloud-backed ToDo applications are so convenient that we cannot imagine throwing them away and going back to offline solutions.
  
      <br> <br> &nbsp;&nbsp; Doit combines the benefits of both words. A, still, cloud-based ToDo application, but with the data being end-to-end encrypted. Only users can have access to their data.
      </p>
      
  
  
      <h2>How To Use Doit</h2>
      <ol>
        <li>First of all you start by joining us and creating a new account</li>
        <li>Then you can easily organize your workspace into boards to categorize your tasks</li>
        <li>In every board you create you will have 3 lists: a to do list, a doing list and a done list where you can classify your tasks with just a drag of your mouse adding the possibility to add personalised lists (ex: urgent tasks, Calls to make, etc..)</li>
      </ol>
    
   </div>
  </body>